{% extends "base1.html" %}
{% load staticfiles %}
{% block content %}
{{form.errors}}
<div class="row">
  <div class="col-md-6">
    <input id="pac-input" style="width:300px" class="controls" type="text" placeholder="Search Box" style="visibility:hidden;">
      <div id="map-canvas" style="height:500px"></div>
    <div style="padding-top:5px;float:left;">
      <div style="background-color:#FFFF99">tip: click on the map to drop a marker. delete the marker with a right click over it.&nbsp;</div>
    </div>
  </div>

  <div class="col-md-6">
    <form role="form" class="form" action="{{action}}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
	<label for="id_name">Title</label>
	  <input class="form-control" id="id_name" maxlength="30" name="name" type="text" value="{{ form.name.value|default_if_none:''}}"/>
      </div>
      <div class="form-group">
	<label for="id_address">Address:</label>
	  <input class="form-control" id="id_address" maxlength="100" name="address" type="text" value = "{{ form.address.value|default_if_none:'' }}"/>
      </div>
      <div class="form-group">
	<label for="id_desc">Description</label>
	<textarea class="form-control" id="id_desc" name="desc" rows="5">{{form.desc.value|default_if_none:''}}</textarea>
      </div>
      <div class="form-group">
	<label for="id_date">Date:</label>
	  <input class="form-control" id="id_date" name="date" type="date" value="{{form.date.value|date:'d/m/Y'|default_if_none:''}}"/>
      </div>
      <div class="form-group">
	<label for="id_pic_before">Picture before event</label>
	{{form.pic_before}}
	<input id="id_lat" name="lat" type="hidden" value="{{form.lat.value|default_if_none:''}}"/>
	<input id="id_lng" name="lng" type="hidden" value="{{form.lat.value|default_if_none:''}}"/>
      </div>
      {% if form.pic_after %}
      <div class="form-group">
	<label for="id_pic_after">Picture after event</label>
	{{form.pic_after}}
      </div>
      {% endif %}
      <div class="form-group">
	<input type="submit" class="btn btn-primary btn-block btn-lg" value="I'm done">
    </form>    
  </div>
</div>
  {{form.current_pic.value.url}}
{% endblock %}

{% block mapscript %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src={% static "js/map.js"%}></script>
{% endblock %}
